/* Form Styles */
#edit-member-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);  
    color: rgba(0, 0, 0, 0.727);
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 600px;
    margin:  auto;
  }
  
  #edit-member-form label {
    display: block;
    margin-bottom: 10px;
  }
  

  #edit-member-form input[type="text"], #edit-member-form input[type="email"] {
    width: 70%;
    height: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #edit-member-form button {

    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #edit-member-form button:hover {
    background-color: #e64a19;
  }

