/* Back Button Styling */
.back-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 30px;
    left: 20px;
}

.back-button:hover {
    background-color: #45a049;
}

/* Title Styling */
.title-container {
    text-align: center;
    margin-top: 20px;
}

.title-container h1 {
    font-size: 40px;
    color: white;
}
.stats-container h3 {
    font-size: 16px;
    margin-bottom: 10px;

}

.stats-container h4 {
    font-size: 14px;
}

.stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);  
    color: rgba(0, 0, 0, 0.727);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    margin: 20px auto;
}

.charts-column { /* Grid container for charts */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.inner-charts-column {
    grid-column: 1;
}

canvas {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.summary-box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    float: center;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 95px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Modal container - hidden by default */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}